[submodule "AppleSerialization"]
	path = AppleSerialization
	url = https://github.com/Qapples/AppleSerialization.git
[submodule "Myra"]
	path = Myra
	url = https://github.com/Qapples/Myra.git
[submodule "AppleScene"]
	path = AppleScene
	url = https://github.com/Qapples/AppleScene.git
